
    <div id="carouselModalTrip{{ trip.id }}" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for destination in trip.destinations %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img src="{{ destination.image_url or url_for('static', filename='images/No_image.jpg') }}" class="card-img-top" alt="{{ destination.name }}">

                    <div class="carousel-caption bottom-banner">
                        <h5>{{ destination.name }}</h5>
                        <p>{{ destination.country }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselModalTrip{{ trip.id }}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselModalTrip{{ trip.id }}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <h2>{{ trip.name }}</h2>

    <p><strong>Start Date:</strong> {{ trip.start_date }}</p>
    <p><strong>End Date:</strong> {{ trip.end_date }}</p>
    <p><strong>Destinations:</strong></p>
    <ul>
        {% for destination in trip.destinations %}
        
        <li>
            <a href="{{ url_for('views.destination_trips', destination_id=destination.id) }}">
                {{ destination.name }} ({{ destination.country }})
            </a>
        </li>
        {% endfor %}

    </ul>
    <p><strong>Description:</strong> 
        {{trip.description}}
    </p>
    <p><strong>Posted by:</strong> {{ trip.user.username }}</p> 
   

